body{
    font-family: 'Lato', sans-serif;}

div#mainContainer{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    #D9DBD2 0%,
    #D9DBD2 85%,
    #009688 85%,
    #009688 100%
  );
  position: relative;
}

div#mainWrapper{
    height: 700px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.contactsWrapper{
    height: 100%;
}

div.messagesWrapper{
    height: 100%;
}

header{
    background-color: #EAEAEA;
}

.contactsWrapper header{
    font-size: .8rem;
}

.contactsWrapper main{
    height: calc(100% - 125px);
}

div.contNavbar{
    height: 60px;
}

div.contMyProfile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
div.contMyProfile p{
    font-weight: 500;
}

.contNavIcons i{
    margin-right: 1rem;
    color: #B1B1B1;
}

div.contNotif{
    height: 65px;
    background-color: #8EDAFC;
}

div.activateNotifBox{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}

div.activateNotifBox i{
    font-size: 1.3rem;
    color: #8EDAFC;
}

div.activateNotifText{
    line-height: 1.1rem;
}

.activateNotifText a:link{
    color: grey;
}

div.contactsSearch{
    height: 40px;
    position: relative;
}

div.contactsSearch input{
    text-align: center;
    width: 95%;
    height: 1.8rem;
    font-size: .9rem;
    border: #B1B1B1 1px solid;
}

div.contactsSearch i{
    position: absolute;
    top: 30%;
    left: 15%;
    color: grey;
}

div.contactsListBox{
    overflow-y: scroll;
    height: 100%;
}

div.contactsListBox ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.contactsList li{
    height: 65px;
    border-bottom: #B1B1B1 solid 1px;
    transition: .05s linear;
    position: relative;
}

.contactNotVisible{
    display: none;
}

li span.contactHour{
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;
    font-size: .6rem;
}

ul.contactsList li:hover{
    background-color: #E9EBEB;
}

ul.contactsList img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

div.contactText p{
    font-size: .9rem;
}

div.contactText span,
span.contactAccess{
    font-size: .7rem;
    color: grey;
}

div.messagesWrapper main{
    height: calc(100% - 120px);
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

div.messagesWrapper footer{
    height: 60px;
    background-color: #EAEAEA;
}

div.footerWrapper{
    width: 100%;
}

div.footerWrapper i{
    font-size: 1.25rem;
    color: #B1B1B1;
}

div.footerWrapper input{
    width: 80%;
    border: none;
    border-radius: 5px;
    height: 1.8rem;
}

div.chatWrapper{
    width: 80%;
    margin: 2.5rem auto 0;
}

div.chatMessage{
    width: 100%;
    font-size: .8rem;
    margin-bottom: .3rem;
}

.singleMessage{
    width: 45%;
    border-radius: 10px;
    padding: .1rem .8rem;
}

.singleMessage p{
    padding-top: .5rem;
}

.messageSent{
background-color: #D5F9BA;
}

.messageReceived{
background-color: white;
}




