body{
    font-family: 'Lato', sans-serif;}

div#mainContainer{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    #D9DBD2 0%,
    #D9DBD2 85%,
    #009688 85%,
    #009688 100%
  );
  position: relative;
}

div#mainWrapper{
    height: 95vh;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.contactsWrapper{
    height: 100%;
}

div.messagesWrapper{
    height: 100%;
    background-color: crimson;
}

.contactsWrapper header{
    font-size: .8rem;
}

div.contNavbar{
    height: 60px;
}

div.contMyProfile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
div.contMyProfile p{
    font-weight: 500;
}

.contNavIcons i{
    margin-right: 1rem;
    color: #B1B1B1;
}

div.contNotif{
    height: 65px;
    background-color: #8EDAFC;
}

div.activateNotifBox{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}

div.activateNotifBox i{
    font-size: 1.3rem;
    color: #8EDAFC;
}

div.activateNotifText{
    line-height: 1.1rem;
}

.activateNotifText a:link{
    color: grey;
}

div.contactsSearch{
    height: 40px;
    position: relative;
}

div.contactsSearch input{
    text-align: center;
    width: 95%;
    height: 1.8rem;
    font-size: .9rem;
}

div.contactsSearch i{
    position: absolute;
    top: 30%;
    left: 15%;
    color: grey;
}

div.contactListBox{
    overflow-y: scroll;
}

div.contactsListBox ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.contactsList li{
    height: 65px;
    border-bottom: grey solid 1px;
    transition: .05s linear;
}

ul.contactsList li:hover{
    background-color: #E9EBEB;
}

ul.contactsList img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

div.contactText p{
    font-size: .9rem;
}

div.contactText span{
    font-size: .7rem;
    color: grey;
}






