<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <div id="app">
            <div id="mainContainer">
                <div id="mainWrapper" class="col-10 d-flex">
                    <div class="contactsWrapper col-4">
                        <header>
                            <div class="contNavbar d-flex justify-content-between">
                                <div class="contMyProfile d-flex align-items-center">
                                    <img class="ms-2" src="img/avatar_io.jpg" alt="La tua immagine profilo">

                                    <p class="pt-3 ps-2">
                                        Mariangiongiangela
                                    </p>
                                </div>

                                <div class="contNavIcons d-flex align-items-center fs-5 me-2">
                                    <i class="fa-solid fa-circle-notch"></i>

                                    <i class="fa-solid fa-message"></i>

                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>

                            <div class="contNotif d-flex justify-content-start align-items-center">
                                <div class="activateNotifBox d-flex justify-content-center align-items-center ms-3">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>

                                <div class="activateNotifText mt-3 ms-2">
                                    <p>
                                        Ricevi notifiche di nuovi messaggi

                                        <br>

                                        <a href="#">
                                            Attiva notifiche desktop
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </header>

                        <main class="d-flex flex-column">
                            <div class="contactsSearch d-flex justify-content-center align-items-center">
                                <input class="contactsInput" type="text" placeholder="Cerca o inizia una nuova chat" v-model="contactInputValue" @keyup.enter="checkVisibility(contactInputValue)">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>

                            <div class="contactsListBox">
                                <ul class="contactsList">
                                    <li v-for="(contact, index) in contacts" class="d-flex justify-content-start align-items-center" :class="contact.visible === true ? '' : 'contactNotVisible' " @click="switchActiveContact(index)">
                                        <img class="ms-3" :src="contact.avatar" alt="Immagine profilo">

                                        <div class="contactText ms-2 mt-1">
                                            <p>
                                                {{contacts[index].name}}

                                                <br>

                                                <span>
                                                    Ultimo messaggio inviato
                                                </span>
                                            </p>
                                        </div>

                                        <span class="contactHour">
                                            12:00
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </main>
                    </div>

                    <div class="messagesWrapper col-8">

                        <header>
                            <div class="contNavbar d-flex justify-content-between">
                                <div class="contMyProfile d-flex align-items-center">
                                    <img class="ms-2" :src="contacts[activeContact].avatar" alt="Immagine profilo interlocutore">
    
                                    <p class="pt-3 ps-2">
                                        {{contacts[activeContact].name}}
    
                                        <br>
    
                                        <span class="contactAccess">
                                            Ultimo accesso oggi alle 12:00
                                        </span>
                                    </p>
                                </div>
    
                                <div class="contNavIcons d-flex align-items-center fs-5 me-2">
                                    <i class="fa-solid fa-magnifying-glass"></i>
    
                                    <i class="fa-solid fa-paperclip"></i>
    
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
    
                        </header>
                        
                        <main>

                            
                            <div class="chatWrapper d-flex flex-column">
                                <div v-for="(message, index) in contacts[activeContact].messages">
                                    <div class="chatMessage d-flex" :class="message.status === 'sent' ? 'justify-content-end' : 'justify-content-start'">
                                        <div class="singleMessage" :class="message.status === 'sent' ? 'messageSent' : 'messageReceived'">
                                            <p>
                                                {{ message.message }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>

                        <footer class="d-flex">
                            <div class="footerWrapper d-flex justify-content-between align-items-center">
                                <i class="fa-regular fa-face-smile ms-4"></i>

                                <input type="text" placeholder="Scrivi un messaggio" v-model="messageInput" @keyup.enter="sendMessage()">

                                <i class="fa-solid fa-microphone me-4"></i>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/script.js"></script>
    </body>
</html>